#icon1 {
    /* border: solid black 1px; */
    position: absolute;
    cursor: pointer;
    width: 70px;
    height: 70px;
    top: 460px;
    left: 27%;
    z-index: 100;
}

.iconbtn:hover{
    transform: scale(1.1);
}
.iconbtn:active{
    transform: scale(0.9);
}

#icon {
    /* border: solid black 1px; */
    position: absolute;
    cursor: pointer;
    width: 70px;
    height: 70px;
    top: 460px;
    right: 27%;
    z-index: 100;
}
#icon2 {
    /* border: solid black 1px; */
    visibility: hidden;
    position: absolute;
    cursor: pointer;
    width: 70px;
    height: 70px;
    top: 460px;
    right: 27%;
    z-index: 100;
}




@media screen and (max-width:1550px){

    #icon1 {
        top: 460px;
        left: 24.2%;
    }
    #icon {
        top: 460px;
        right: 24%;
    }

}
@media screen and (max-width:1340px){

    #icon1 {
        top: 460px;
        left: 17%;
    }
    #icon {
        top: 460px;
        right: 17%;
    }

}
@media screen and (max-width:1120px){

    #icon1 {
        top: 440px;
        left: 17%;
    }
    #icon {
        top: 440px;
        right: 17%;
    }

}
@media screen and (max-width:960px){

    #icon1 {
        top: 440px;
        left: 8%;
    }
    #icon {
        top: 440px;
        right: 8%;
    }

}
@media screen and (max-width:700px){

    #icon1 {
        top: 440px;
        left: 4%;
    }
    #icon {
        top: 440px;
        right: 4%;
    }

}
@media screen and (max-width:500px){
    #icon1 {
        visibility:hidden;
    }
    #icon {
        visibility:hidden;
    }
    #icon2 {
        visibility: visible;
        width: 80px;
        height: 30px;
        top: 540px;
        left: 42%;
        
    }

}